/** @format */

.authContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: rgb(40, 39, 39); 
	padding: 20px;
}

.authForm {
	background-color: #1a1a1a; 
	padding: 2rem;
	border-radius: 8px;
	width: 100%;
	max-width: 400px;
	box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
}

.authTitle {
	font-size: 2rem;
	color: #ffffff; 
	text-align: center;
	margin-bottom: 2rem;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.inputGroup {
	position: relative;
	margin-bottom: 2rem;
}

.input {
	width: 100%;
	padding: 10px 0;
	font-size: 1rem;
	color: #ffffff; 
	border: none;
	border-bottom: 2px solid #4d4d4d; 
	outline: none;
	background: transparent;
	transition: border-color 0.2s;

	&:focus {
		border-color: #ffffff;  
	}
}

.label {
	position: absolute;
	top: 10px;
	left: 0;
	font-size: 1rem;
	color: #999999; 
	pointer-events: none;
	transition: 0.2s ease all;

	span {
		display: inline-block;
		min-width: 5px;
		transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	}
}

.input:focus ~ .label,
.input:not(:placeholder-shown) ~ .label {
	top: -15px;
	font-size: 1rem;
	color: #ffffff; 
}

.input:focus ~ .label span,
.input:not(:placeholder-shown) ~ .label span {
	color: #ffffff; 
	transform: translateY(-5px);
}

.submitButton {
	width: 100%;
	padding: 10px;
	background-color: #ffffff; 
	color: #000000; 
	border: none;
	border-radius: 4px;
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;
	transition: background-color 0.3s ease;

	&:hover {
		background-color: #e6e6e6; 
	}
}

.switchLink {
	display: block;
	text-align: center;
	margin-top: 1rem;
	color: #b3b3b3; 
	text-decoration: none;
	transition: color 0.3s ease;

	&:hover {
		color: #ffffff; 
	}
}

.fileInput {
	width: 100%;
	padding: 10px;
	margin-bottom: 1rem;
	background-color: #2a2a2a; 
	border: 1px solid #4d4d4d; 
	border-radius: 4px;
	font-size: 0.9rem;
	color: #ffffff;
	cursor: pointer;
	margin-top:10px ;

	&::file-selector-button {
		padding: 8px 12px;
		background-color: #ffffff;
		color: #000000;
		border: none;
		border-radius: 4px;
		cursor: pointer;
		transition: background-color 0.3s ease;

		&:hover {
			background-color: #e6e6e6;
		}
	}
}

.fileLabel{
	color: #b3b3b3; 
	transition: color 0.3s ease;
}

.successMessage {
	background-color: #4d4d4d; 
	color: #ffffff; 
	padding: 1rem;
	border-radius: 4px;
	margin-top: 1rem;
	text-align: center;
}
