/** @format */

@import "variables";
@import "animations";
@import "mixins";

body {
	font-family: "Arial", sans-serif;
	background-color: #000;
	color: #fff;
	margin: 0;
	padding: 0;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100dvh;
}

.swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	background-color: #ffffff; // Change this to your desired bullet color
	opacity: 1;
}

.swiper-pagination-bullet-active {
	opacity: 1;
	background-color: white; // Change this to your desired active bullet color
}
