/** @format */
@keyframes glow {
	0% {
		box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
	}
	50% {
		box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
	}
	100% {
		box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
	}
}

.homePage {
	font-family: 'Arial', sans-serif;
	background-color: #f7f6f5;
	color: #fff;
}

.hero {
	height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-image: linear-gradient(
			rgba(73, 45, 22, 0.7),
			rgba(221, 195, 154, 0.7)
		),
		url('/hero-image.jpg');
	background-size: cover;
	background-position: center;

	// z-index: -1;

	.image-container {
		position: absolute;
		z-index: 0;
		width: 100%;
		max-width: 1520px;
		height: 500px;
		transition: opacity 1s ease;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.heroText {
		opacity: 0;
		transform: translateY(20px);
		transition: opacity 1s ease, transform 1s ease;
		color: #fff;
		z-index: 1;
		&.show {
			opacity: 1;
			transform: translateY(0);
		}

		h1,
		p {
			color: #fff;
			opacity: 0;
			transform: translateY(20px);
			transition: opacity 0.5s ease, transform 0.5s ease;
		}

		&.show h1 {
			opacity: 1;
			transform: translateY(0);
			transition-delay: 0.2s;
		}

		&.show p {
			opacity: 1;
			transform: translateY(0);
			transition-delay: 0.4s;
		}
	}

	@keyframes comeIn {
		0% {
			position: absolute;
			bottom: -1px;
			opacity: 0;
		}
		10% {
			opacity: 0.3;
		}
		25% {
			bottom: 10px;
			opacity: 0.5;
		}
		50% {
			bottom: 50px;
			opacity: 0.7;
		}
		75% {
			bottom: 100px;
			opacity: 0.9;
		}
		100% {
			position: absolute;
			bottom: 200px;
			opacity: 1;
		}
	}

	@keyframes fadeIn {
		from {
			opacity: 0;
			transform: translateY(20px);
		}
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}
}

.popular__tours__title {
	color: black;
	text-align: center;
	margin: 200px 0 40px 0;
}

.featuredDestinations {
	width: 100%;
	display: flex;
	justify-content: center;
}
.popularTours {
	max-width: 1200px;
	margin: 0 auto;
	padding: 4rem 1rem;

	h2 {
		text-align: center;
		margin-bottom: 2rem;
		color: black;
	}
}

.regionsGrid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 15px;
	width: 100%;
}

.regions_block {
	background: white;
	border-radius: 8px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	max-width: 400px;
	transition: transform 0.2s;
	padding: 10px;
	h3 {
		font-size: 1.2rem;
		font-weight: 300;
		text-align: start;
		margin: 10px 0;
		box-shadow: #2575fc;
		color: #2575fc;
	}
}

// .regions_block:hover {
// 	transform: scale(1.05);
// }

.region-link {
	display: block;
}

.destinationCard,
.regions_block__card {
	// z-index: -1;

	// position: relative;
	height: 200px;
	overflow: hidden;
	width: 100%;
	border-radius: 10px;
	transition: transform 0.3s ease, box-shadow 0.3s ease;

	// &:hover {
	// 	transform: translateY(-5px);
	// 	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

	// 	h3 {
	// 		transform: translate(-50%, -50%) scale(1.1);
	// 	}
	// }

	// &::after {
	// 	content: "";
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	right: 0;
	// 	bottom: 0;
	// 	background: linear-gradient(
	// 		to top,
	// 		rgba(0, 0, 0, 0.6) 0%,
	// 		rgba(0, 0, 0, 0) 100%
	// 	);
	// 	opacity: 0;
	// 	transition: opacity 0.3s ease;
	// }
}
.regions_block__content {
	justify-content: space-between;
	align-items: center;
	padding: 10px 10px 0 10px;

	h3 {
		font-size: 1.2rem;
		font-weight: 600;
	}
	span {
		color: #06c93a;
	}

	.like_block {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
@media (max-width: 768px) {
	.footerContent {
		flex-direction: column;
		gap: 2rem;
	}
	.regions_block {
		max-width: 100%;
	}
}
