/** @format */

@import 'animations';

.searchBar {
	max-width: 600px;
	width: 100%;
	padding-top: 80px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;

	.searchInput {
		width: 400px;
		padding: 1rem;
		background-color: transparent !important;
		color: #000000;
		border-radius: 10px;
		border: 2px solid #2575fc !important;

		cursor: pointer;
		transition: all 0.3s ease;
		height: 30px;

		&:hover {
			background-color: #000;
			animation: glow 1.5s infinite;
		}
	}

	.searchedResultsWrapper {
		max-height: 200px;
		overflow-y: scroll;
		
	}
	.searchedResult {
		background-color: white;
		height: 20px;
		margin: 2px;
		display: flex;
		justify-self: flex-start;
		padding-left: 10px;
		a {
			color: black;
			text-decoration: none;
		}
	}
}
