/** @format */
$greenish-color: rgb(8, 188, 116);

.update__tour__container {
	background-color: white///;
}
.update__tour {
	width: 100%;
	margin: 0 auto;
	max-width: 600px;

	// &__title {
	// }

	&__error {
		color: red;
	}
	&__input__group {
		input {
			width: 100%;
			background-color: $greenish-color;
			margin: 0;
			padding: 0;
			padding-left: 10px;
			height: 40px;

			color: rgba(255, 250, 241, 0.852);
		}

		label {
			width: 100%;
		}

		textarea {
			width: 100%;
			max-width: 600px;

			background: $greenish-color;
			max-height: 200px;
		}

		select {
			width: 100%;
			background-color: $greenish-color;
			margin: 0;
			padding: 0;
			padding-left: 10px;
			height: 40px;
		}

		&__file {
			display: none;
		}
		&__label__file {
			border: 1px solid #ccc;
			display: inline-block;
			padding: 6px 12px;
			background-color: $greenish-color;
			cursor: pointer;
			color: black;
			width: 100%;
			margin: 0;
			padding: 0;
			height: 40px;
		}
	}
}
